* {
 font-family: 'Amatic SC', cursive;
}

#photo { 
	height: 200px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
 }
 div#insert > button, div.row button {
 	width: 10%;
 	height: auto;
 	margin-bottom: 10px;
 	border: none;
 }

 p, h2 {
 	font-size: 2.3em;
 text-transform: uppercase;
 text-align: center;
 }

 #aboba {
 	margin-bottom: 40px;
 }

#э,#ю,#я {
		width: 33%;
}

.col-1 {
	padding: 0px;
}

button:hover {
	background-color: grey  ;
}

#textUp {
	font-size: 2em;
 text-transform: uppercase;
}

#insert  button.disabled {
	background-color:#FF7D73;
}

#insert  button.disabled2 {
	background-color:#67E667;
}

#photo3 {
height: 200px;
	width: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#aboba {
	margin-bottom: 10px;
}

#congrats {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 4em;
}

#photolose {
	height: 500px;
	width: 500px;
}

#lose {
	font-size: 4em;
	margin-bottom: 20px;
}